# Dependencies
node_modules

# Build
app/build

# Environment
.env
app/.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage

# Misc
*.pem
