networks:
  slordefweb:

services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /home/slordef/slordef-webmaster.ch/data/postgres:/var/lib/postgresql/data
    networks:
      - slordefweb

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /home/slordef/slordef-webmaster.ch/data/uploads:/app/public/uploads
    depends_on:
      - postgres
    networks:
      - slordefweb
