.work_nebula_silva {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.work_nebula_silva .texts {
    flex: 1 1 50%;
}

.work_nebula_silva .image {
    width: 100%;
    max-width: 300px;
}

.work_nebula_silva .image a {
    display: block;
    transition: transform 0.5s ease-in-out;
}

.work_nebula_silva .image a:hover {
    transform: scale(1.1);
}

.work_nebula_silva .image img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}
