TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=slordef
POSTGRES_PASSWORD=slordef
POSTGRES_DB=slordef

# Frontend (optional)
VITE_APP_NAME=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=

# Admin seeder (optional)
ADMIN_EMAIL=a@a.com
ADMIN_PASSWORD=a
