name: Deploy
run-name: Deploy to Server
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, production]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy environment variables file
        run: cp /home/slordef/slordef-webmaster.ch/.env ./.env

      - name: Run docker compose build
        run: docker compose -f docker-compose.yml build

      - name: Run docker compose up
        run: docker compose -f docker-compose.yml up -d

      - name: Run migrations
        run: docker compose exec -T web node ace migration:run --force
